<!DOCTYPE html>
<html lang="en-US">
<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $(function () {
            $("#site-header").load("../include/header.html")
            $("#site-footer").load("../include/footer.html")

        });
    </script>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
    </style>
</head>
<div id="body-wrapper">
    <header id="site-header"></header>
    <div id="body-content">
        <div class="search-box">
            <input type="text">
        </div>
        <article>
            <div>
                <a href="#">
                    <img src="https://media.worksout.co.kr/resized/live/DE23FWTSSS05144006/DE23FWTSSS05144006-0.jpg">
                </a>
            </div>
            <h2><a href="#">SunsetBeach</a></h2>
            <a href="#">summer</a>
            <a href="#">women</a>
            <a href="#">yellow</a>
        </article>
    </div>
    <footer id="site-footer"></footer>
</div>

</footer>
</body>
</html>