<style>
    body, html {
        margin: 0;
        padding: 0;
    }

    .outer-container {
        background-color: white;
        width: 100vw;
        height: 120px;
    }

    .inner-container {
        width: 100%;
        height: 100%;
        background-color: #fd6a14;
    }

    ul {
        list-style: none;
    }

    li {
        float: left;
        margin-right: 300px;
        width: 30px;
        height: 30px;

        color: black;
        font-size: 1.0em;
    }

    .category {
        width: 80%;
        padding-top: 20px;
    }

    .category > li > a:link, .category > li > a:visited {
        color: black;
        text-decoration: none;
    }

    .category > li > a:hover {
        color: white;
        text-decoration: none;
    }

    .mypage {
        background-image: url("../images/mypage-icon.png");
        background-repeat: no-repeat;
        background-size: contain;

        float: right;

        height: 60px;
        width: 60px;

        margin: -20px 40px 0 0;
    }

</style>

<div class="outer-container">
    <div class="inner-container">
        <ul class="category">
            <li>
                <a href="/shop/top">Top</a>
            </li>
            <li>
                <a href="/shop/Pants">Pants</a>
            </li>

            <li>
                <a href="/shop/Outer">Outer</a>
            </li>

            <li>
                <a href="/shop/Accessory">Accessory</a>
            </li>
        </ul>
        <div class="mypage" onclick="location.href='/mypage'">
        </div>
    </div>
</div>