#body-content {
    font-family: 'Noto Sans KR', sans-serif;
}

#my-page-header {
    background-color: #f3f4f6;
    margin: 50px auto;
    width: 80%;
    height: 150px;
}

#my-page-header > div {
    padding: 20px 0 20px 20px;
    text-align: left;
}

#my-page-header > div > p {
    color: #b6b6b7;
}

.position-relative {
    width: 100%;
    height: 1000px;
}

.position-absolute.top-0.start-0 {
    width: 250px;
    height: 550px;
    margin-left: 130px;
}

.position-absolute.top-50.start-50.translate-middle {
    margin-left: 100px;
    width: 70%;
    height: 100%;
}

#title, #member-about {
    padding-bottom: 20px;
    border-bottom: 3px solid #b6b6b7;
}



#member-about-inner {
    width: 70%;
}

input, select {
    border-radius: 0 !important;
    height: 50px;
}

#edit-btn {
    border-radius: 0;
    height: 40px;
    width: 400px;
}

#quit-btn {
    margin-top: 10px;
    border-radius: 0;
    height: 40px;
    width: 400px;
}

input[readonly] {
    background-color: #b6b6b7;
    pointer-events: none;
}

a, a:link, a:hover, a:after {
    color: black;
    text-decoration-line: none;
}