#body-content {
    font-family: 'Noto Sans KR', sans-serif;
}

#my-page-header {
    background-color: #f3f4f6;
    margin: 50px auto;
    width: 80%;
    height: 150px;
}

#my-page-header > div {
    padding: 20px 0 20px 20px;
    text-align: left;
}

#my-page-header > div > p {
    color: #b6b6b7;
}

.position-relative {
    width: 100%;
    height: 1000px;
}

.position-absolute.top-0.start-0 {
    width: 250px;
    height: 550px;
    margin-left: 130px;
}

.position-absolute.top-50.start-50.translate-middle {
    margin-left: 100px;
    width: 70%;
    height: 100%;
}

#title {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    text-align: left;
    align-items: center;
}

.row {
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

#tags {
    background-color: #f3f4f6;
    height: 50px;
    border-bottom: 2px solid #b6b6b7;
}

.order-list-items > div > img {
    height: 150px;
}

a, a:link, a:hover, a:after {
    color: black;
    text-decoration-line: none;
}