<!DOCTYPE html>
<html lang="kr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/custom/buckets.css"/>
    <script>
        $(function () {
            $("#site-header").load("../include/header.html")
            $("#site-footer").load("../include/footer.html")
        });
    </script>
    <script>
        function selectAll(selectAll)  {
            const checkboxes
                = document.querySelectorAll('input[type="checkbox"]');

            checkboxes.forEach((checkbox) => {
                checkbox.checked = selectAll.checked
            })
        }
    </script>
    <style>
        body, html {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="body-wrapper">
    <header id="site-header" class="sticky-top"></header>
    <div id="body-content">
        <div class="grid text-center" id="my-page-header">
            <div class="g-col-4">
                <p>회원 이름</p>
                <!--회원이름-->
                <h2>김동현</h2>
            </div>
            <div class="g-col-4">
                <p>회원 등급</p>
                <h2>BASIC</h2>
            </div>
            <div class="g-col-4">
                <p>보유 포인트</p>
                <!--회원 보유 포인트-->
                <h2>0P</h2>
            </div>
        </div>
        <div class="position-relative">
            <div class="position-absolute top-0 start-0">
                <div class="container text-center" id="inner-body-content">
                    <div id="title"><p>장바구니</p></div>
                    <div class="row" id="tags">
                        <div class="col-1"><input type="checkbox" name="buckets-select" onclick="selectAll(this)"></div>
                        <div class="col">상품 정보</div>
                        <div class="col-2">수량</div>
                        <div class="col-2">가격</div>
                        <div class="col-1">ㅤ</div>
                    </div>
                    <!--아이템 최대 3개까지만 넣어주세요. css가 깨져요.-->
                    <!--순서대로 사진, 제품명, 상품번호, 수량, 금액 입력-->
                    <div class="row order-list-items">
                        <div class="col-1"><input type="checkbox" name="buckets-select"></div>
                        <div class="col">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <!--이미지-->
                                        <img src="https://saehan0915.cdn-nhncommerce.com/data/goods/21/03/12/8639/8639_detail_057.jpg" class="img-fluid rounded-start" id="bucket-items-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <!--제품명-->
                                            <h5 class="card-title">동현이형의 간지작살 티셔츠</h5>
                                            <!--상품번호-->
                                            <p class="card-text">삼품번호: 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--수량-->
                        <div class="col-2">1</div>
                        <!--가격-->
                        <div class="col-2">120,000원</div>
                        <!--눌렀을 시 리스트에서 아이템 제거-->
                        <div class="col-1"><i class="bi bi-trash"></i></div>
                    </div>

                    <div class="row order-list-items">
                        <div class="col-1"><input type="checkbox" name="buckets-select"></div>
                        <div class="col">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://saehan0915.cdn-nhncommerce.com/data/goods/21/03/12/8639/8639_detail_057.jpg" class="img-fluid rounded-start" id="bucket-items-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">동현이형의 간지작살 티셔츠</h5>
                                            <p class="card-text">삼품번호: 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-2">1</div>
                        <div class="col-2">120,000원</div>
                        <div class="col-1"><i class="bi bi-trash"></i></div>
                    </div>

                    <div class="row order-list-items">
                        <div class="col-1"><input type="checkbox" name="buckets-select"></div>
                        <div class="col">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://saehan0915.cdn-nhncommerce.com/data/goods/21/03/12/8639/8639_detail_057.jpg" class="img-fluid rounded-start" id="bucket-items-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">동현이형의 간지작살 티셔츠</h5>
                                            <p class="card-text">삼품번호: 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-2">1</div>
                        <div class="col-2">120,000원</div>
                        <div class="col-1"><i class="bi bi-trash"></i></div>
                    </div>
                </div>
            </div>
            <div class="position-absolute top-0 end-0">
                <!--클릭 시 체크된 항목 구매-->
                <button type="button" class="btn btn-dark">회원 구매</button>
            </div>
        </div>
    </div>
    <footer id="site-footer"></footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>