<!DOCTYPE html>
<html lang="kr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/orderlist.css"/>
    <script>
        $(function () {
            $("#site-header").load("../include/header.html")
            $("#site-footer").load("../include/footer.html")
        });
    </script>
    <style>
        body, html {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="body-wrapper">
    <header id="site-header" class="sticky-top"></header>
    <div id="body-content">
        <div class="grid text-center" id="my-page-header">
            <div class="g-col-4">
                <p>회원 이름</p>
                <h2>김동현</h2>
            </div>
            <div class="g-col-4">
                <p>회원 등급</p>
                <h2>BASIC</h2>
            </div>
            <div class="g-col-4">
                <p>보유 포인트</p>
                <h2>0P</h2>
            </div>
        </div>
        <div class="position-relative">
            <div class="position-absolute top-0 start-0">
                <h3>나의 주문</h3>
                <br/>
                <p>전체 주문 내역</p>
                <p>결제 취소 내역</p>
                <p>교환 반품 내역</p>
                <br/>
                <br/>
                <h3>나의 정보</h3>
                <p>내 정보 수정</p>
                <p>포인트 & 쿠폰</p>
                <p>라플 (응모 내역)</p>
                <br/>
                <br/>
                <p>고객센터</p>
                <p>자주 묻는 질문</p>
                <p>로그아웃</p>
            </div>
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="container text-center" id="inner-body-content">
                    <div id="title"><h4>최근 주문 내역</h4></div>
                    <div class="row" id="tags">
                        <div class="col">스토어명</div>
                        <div class="col">주문번호</div>
                        <div class="col">상품</div>
                        <div class="col">주문일자</div>
                        <div class="col">결제금액</div>
                    </div>
                    <!--아이템 최대 5개까지만 넣어주세요. css가 깨져요.-->
                    <!--순서대로 스토어명, 주문번호, src에 대표사진 주소 1개, 주문일자, 결제 금액 입력-->
                    <div class="row order-list-items">
                        <div class="col">KDH Closet</div>
                        <div class="col">12</div>
                        <div class="col"><img src="https://saehan0915.cdn-nhncommerce.com/data/goods/21/03/12/8639/8639_detail_057.jpg" alt="동현이형의 간지작렬 티셔츠"></div>
                        <div class="col">2023-09-03</div>
                        <div class="col">120,000원</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <footer id="site-footer"></footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>