<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 추가 페이지</title>
</head>
<body>
<form action="/addProductpro" method="post" enctype="multipart/form-data">
    <select name="category">
        <option selected="selected" disabled="disabled">카테고리</option>
        <option>top</option>
        <option>pants</option>
        <option>outer</option>
        <option>accessory</option>
    </select>
    <input type="text" name="name" placeholder="상품명을 입력하세요." />
    <select name="size">
        <option selected="selected" disabled="disabled">사이즈</option>
        <option>free</option>
    </select>
    <input type="text" name="price" placeholder="가격을 입력하세요." />
    <select name="count">
        <option selected="selected" disabled="disabled">수량</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <input type="file" name="productFile" multiple="multiple" />
    <input type="submit" value="상품등록" />
</form>
</body>
</html>